body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}
/* цвет основного текста  #212121 */
/* вторичный цвет #757575 */
/* белый  #FFFFFF */
/* акцент #2196F3 */
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.site-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: #2196f3;
}
.second-color {
  color: #757575;
}

.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: #ffffff;
  background-color: #2f303a;
}
.hero-btn {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: #94cfff;
}
.title-features {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.aftertitle-features {
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color: #757575;

}
.title-work{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.title-team{
    font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.team-worker{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: #212121;

}
.team-mission{ 
    font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;

color: #757575;

}
.footer-inform{
    font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;

color:rgba(255, 255, 255, 0.6);
}
.footer-inform:hover,
.footer-inform:focus {
    color:#FFFFFF ;
}